:root {
    --accent-primary: #7072dd;
    --light-primary: #efefef;
    --dark-primary: #1e1e1e;
    --company-github: #04AA51;
    --feedback-info: #3498db;
    --feedback-warning: #f1c40f;
    --feedback-error: #e74c3c;
}